<app-parent></app-parent>

<hr>
<div id="div1">
  <div id="div2">Content of div2</div>
  <div id="div3">Content of div3</div>
  <div id="div4">Content of div4</div>
</div>
<button (click)="printDiv2()">Print div2</button>

<button (click)="openModal()">Open Modal 12</button>
<app-right-side-modal
  [isModalOpen]="isModalOpen"
  [isCanCloseOutside]="true"
  [title]="'hello'"
  (close)="closeModal()"
>
  <p>This is the body content of the modal, passed from the AppComponent.</p>
</app-right-side-modal>

<app-child *ngIf="false"></app-child>
<hr />
