<div id="div1">
  <div id="div2">Content of div2</div>
  <div id="div3">Content of div3</div>
  <div id="div4">Content of div4</div>
</div>
<button (click)="printDiv2()">Print div2</button>

<button (click)="openModal()">Open Modal 12</button>
<app-right-side-modal
  [isModalOpen]="isModalOpen"
  [isCanCloseOutside]="true"
  [title]="'hello'"
  (close)="closeModal()"
>
  <p>This is the body content of the modal, passed from the AppComponent.</p>
</app-right-side-modal>

<!-- 
<button
  [ngClass]="{
    'white-background': isButton1White,
    'gray-background': !isButton1White,
  }"
  (click)="toggleButtonColor(1)"
>
  Test 1
</button>
<button
  [ngClass]="{
    'white-background': !isButton1White,
    'gray-background': isButton1White,
  }"
  (click)="toggleButtonColor(2)"
>
  Test 2
</button> -->

<app-control-value-accessor></app-control-value-accessor>

<hr />
<app-parent></app-parent>
<hr />
<app-child *ngIf="false"></app-child>
<hr />
